body {
    text-align: center;
    margin: 0;
    background-color: rgb(180, 24, 89);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    background-color: black;
    margin: 50px auto;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px;
}

#stockTicker{
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding-left: 25px;
}

#stockTicker p {
    margin: 4px 0;
}
 img {
    width: 20px;
}

#pimg-el{
    display: flex;
    align-items: center;
    gap: 10px;
}